{% extends 'main.html' %}


{% block content %}
<h1>Dashboard Template</h1>
<div>
    <button id="voice">
        mic
    </button>
    <div>
        <hr>
        
        <div id="display"></div>
        <hr>


    </div>

</div>

{% block scripts %}
    <script>
const commandfn=async()=>{
await fetch('call_function/', { method: 'GET' }).then((res)=>res.json()
).then((data)=>{
    let name = document.createElement('h2');
          name.textContent = data.result.name;
          let display = document.getElementById('display');
          display.appendChild(name);
          console.log(data.result.name);
})
}

        document.querySelector('#voice').addEventListener('click',commandfn)
    </script>
    {% endblock %}

{% endblock content %}

